---
title: 'test'
permalink: '/test/'
eleventyExcludeFromCollections: true
---

<p>testing</p>


<p>there should be <a href="https://bing.com/">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="noopener">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="noreferrer">noreferrer</a> here</p>

<p>there should be <a href="https://bing.com/" rel="nofollow">nofollow noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel=" ">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="foo
bar
">foo\r\nbar\r\nnoopener</a> here</p>


<p>there should not be <a href="/foo">noopener</a> here</p>

<p>there should be <a href="/foo" rel="noopener">noopener</a> here</p>

<p>there should be <a href="/foo" rel="noreferrer">noreferrer</a> here</p>

<p>there should be <a href="/foo" rel="nofollow">nofollow</a> here</p>

<p>there should not be <a href="/foo" rel="">noopener</a> here</p>

<p>there should not be <a href="/foo" rel=" ">noopener</a> here</p>

<p>there should be <a href="/foo" rel="foo
bar
">foo\r\nbar\r\n</a> here</p>


<p>there should not be <a href="https://google.com/">noopener</a> here</p>

<p>there should be <a href="https://google.com/" rel="noopener">noopener</a> here</p>

<p>there should be <a href="https://google.com/" rel="noreferrer">noreferrer</a> here</p>

<p>there should be <a href="https://google.com/" rel="nofollow">nofollow</a> here</p>

<p>there should not be <a href="https://google.com/" rel="">noopener</a> here</p>

<p>there should not be <a href="https://google.com/" rel=" ">noopener</a> here</p>

<p>there should be <a href="https://google.com/" rel="foo
bar
">foo\r\nbar\r\n</a> here</p>


<p>mail <a href="mailto:foo@bar.com">link</a></p>
<p>mail <a href="mailto:john@jkc.codes">link</a></p>


<form action="http://bing.com/" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>

<form action="http://google.com/" method="post">
	<label>Should not have noopener: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>

<form action="/foo" method="post">
	<label>Should not have noopener: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>

<form action="http://google.com/" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<button formaction="http://bing.com/">Subscribe</button>
</form>

<form action="/foo" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<button formaction="http://bing.com/">Subscribe</button>
</form>

<form action="/foo" method="post" id="testform">
	<label>Should have noopener: </label>
	<input type="text" required>

	<button formaction="/bar">Subscribe</button>
</form>
<button form="testform" formaction="http://bing.com/">Subscribe</button>

<form action="/foo" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<input type="submit" value="Subscribe" formaction="http://bing.com/">
</form>

<form action="/foo" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<input tYpE="sUbMiT" value="Subscribe" fOrMaCtIoN="http://bing.com/">
</form>