---
title: 'test'
permalink: '/test/'
eleventyExcludeFromCollections: true
---

<p>testing</p>


<p>there should NOT be <a href="https://bing.com/">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="noopener">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="noreferrer">noreferrer</a> here</p>

<p>there should be <a href="https://bing.com/" rel="nofollow">nofollow</a> here</p>

<p>there should NOT be <a href="https://bing.com/" rel="">noopener</a> here</p>


<p>there should be <a href="https://bing.com/" target="_blank">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" target="foo">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" target=" ">noopener</a> here</p>

<p>there should NOT be <a href="https://bing.com/" target="_parent">noopener</a> here</p>

<p>there should NOT be <a href="https://bing.com/" target="_self">noopener</a> here</p>

<p>there should NOT be <a href="https://bing.com/" target="_top">noopener</a> here</p>

<p>there should NOT be <a href="https://bing.com/" target="">noopener</a> here</p>


<p>there should be <a href="https://bing.com/" rel="noopener" target="_blank">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="noopener" target="_self">noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="noreferrer" target="_blank">noreferrer</a> here</p>

<p>there should be <a href="https://bing.com/" rel="noreferrer" target="_self">noreferrer</a> here</p>

<p>there should be <a href="https://bing.com/" rel="nofollow" target="_blank">nofollow noopener</a> here</p>

<p>there should be <a href="https://bing.com/" rel="nofollow" target="_self">nofollow</a> here</p>

<p>there should be <a href="https://bing.com/" rel="" target="_blank">noopener</a> here</p>

<p>there should NOT be <a href="https://bing.com/" rel="" target="_self">noopener</a> here</p>


<p>there should NOT be <a href="/foo" target="_blank">noopener</a> here</p>

<p>there should NOT be <a href="https://google.com/" target="_blank">noopener</a> here</p>


<p>there should NOT be <a href="https://bing.com/" target="_blank" rel="opener">noopener</a> here</p>

<p>there should NOT be <a>noopener</a> here</p>


<p>mail <a href="mailto:foo@bar.com">link</a></p>
<p>mail <a href="mailto:john@jkc.codes">link</a></p>


<form action="http://google.com/" target="_blank" method="post">
	<label>Should NOT have noopener: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>


<form action="http://bing.com/" method="post">
	<label>Should NOT have noopener: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>


<form action="http://bing.com/" target="_blank" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>


<form action="http://google.com/" target="_blank" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<button formaction="http://bing.com/">Subscribe</button>
</form>


<form action="http://bing.com/" target="_self" method="post">
	<label>Should have noopener: </label>
	<input type="text" required>

	<button formtarget="_blank">Subscribe</button>
</form>


<form action="http://bing.com/" id="foobar" method="post">
	<label>Should not fail because of empty button: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>
<button></button>


<form action="http://bing.com/" id="foobar" rel=opener" method="post">
	<label>Should not have Noopener: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>


<form>
	<label>Should not fail because of missing attributes: </label>
	<input type="text" required>

	<button>Subscribe</button>
</form>